{% extends "base.html" %}


{% block footer %}

<footer class="custom-footer">


<div class="footer-brand">

<h3>
MKI Computational Materials Science Workshop
</h3>

<p>
Building knowledge, tools, and collaboration
for advanced materials discovery.
</p>

</div>



<div class="footer-links">

<h3>
Quick Links
</h3>

<a href="#">Home</a>
<a href="#">Start Here</a>
<a href="#">Foundation</a>
<a href="#">Research Application</a>

</div>



<div class="footer-partners">

<h3>
In Collaboration With
</h3>

<p>
MKI × ITB × BRIN
</p>

</div>


</footer>


{% endblock %}
